name: Build and Push Client Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'client/**' # Trigger only if files in client/ or its Dockerfile/workflow change
      - '.github/workflows/client-docker-build.yml'
  workflow_dispatch: # Allow manual triggering

jobs:
  build-and-push-client: # Job name specific to client
    runs-on: ubuntu-latest
    permissions:
      contents: read # Needed to checkout the code

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Client Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./client # Context is the client directory
          file: ./client/Dockerfile # Path to the client's Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ping-spa:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ping-spa:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/ping-spa:${{ github.run_number }}
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
